section {
    background: #FFFFFF;
}
.title1{
    margin-right: -245px;
margin-left: 423px;
font-size: 41px;
font-weight: 700;
}
.card {
    border: none;
    border-radius: 3%;
}

.text {
    margin-left: 33px;
}
.card-title{
    font-weight: 600;
}
