section {
    background: #FFFFFF;
}
.title1{
    margin-right: -245px;
margin-left: 423px;
font-size: 41px;
font-weight: 700;
}
.text1{
    margin-right: -245px;
    margin-left: 412px;
}
.nav{
    background: #EEF1F2;
margin-left: 120px;
margin-right: 120px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 15px;
}
.card {
    border: none;
    border-radius: 3%;
}

.text {
    margin-left: 33px;
}
.card-title{
    font-weight: 600;
}
